@import url('https://fonts.googleapis.com/css2?family=Jua&family=Sigmar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LINE';
  src: url('../assets/fonts/LINESeedKR-Rg.woff2');
}

@layer base {
  * {
    @apply m-0 p-0 font-sans outline-none;
  }

  h1 {
    @apply text-heading-1 font-bold;
  }

  h2 {
    @apply text-heading-2 font-bold;
  }

  h3 {
    @apply text-heading-3 font-bold;
  }

  div,
  span,
  p {
    @apply text-base text-black;
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.1);
    }
  }
}
