@import url('https://fonts.googleapis.com/css2?family=Jua&family=Sigmar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LINE';
  src: url('../assets/fonts/LINESeedKR-Rg.woff2');
}

@layer base {
  :root {
    --header-height: 73px;
    --bottom-height: 56px;
  }

  * {
    @apply m-0 p-0 font-sans outline-none;
  }

  body {
    height: 100dvh;
  }

  main > section {
    height: calc(100vh - var(--header-height) - var(--bottom-height));
  }

  h1 {
    @apply text-heading-1 font-bold;
  }

  h2 {
    @apply text-heading-2 font-bold;
  }

  h3 {
    @apply text-heading-3 font-bold;
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes move {
    0% {
      margin-top: 80px;
    }
    100% {
      margin-top: 0;
    }
  }

  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@layer components {
  .scroll-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
